<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- 原有控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="[ %d{HH:mm:ss} %-5level][ %t ] %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- 设置根日志级别 -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
